body {
    background-color: #d0c598;
    font-family: 'Amatic SC', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    text-align: center;
    font-size: 36px;
}

#header-img {
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/*
 * Card Deck
 */

.deck {
    max-width: 560px;
    height: 780px;
    background-image: url("../img/deck-background.jpg");
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.deck .card {
    height: 177px;
    width: 125px;
    font-size: 0px;
    background: #2e3d49;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

/*
 * Cards
 */

.card.ace {
    background-image: url(../img/deck/ace.png);
}
.card.queen {
    background-image: url(../img/deck/queen.png);
}
.card.king{
    background-image: url(../img/deck/king.png);
}
.card.jack{
    background-image: url(../img/deck/jack.png);
}
.card.hearts{
    background-image: url(../img/deck/hearts.png);
}
.card.diamonds{
    background-image: url(../img/deck/diamonds.png);
}
.card.clubs{
    background-image: url(../img/deck/clubs.png);
}
.card.spades{
    background-image: url(../img/deck/spades.png);
}

/*
 * Card State
 */

.deck .card.hide {
    background-image: url(../img/back.jpg);
    border: 3px solid red;
    transition-property: border;
    transition-duration: 2s;
}

.deck .card.flip {
    transform: rotateY(180deg);
    transition-duration: 1s;
    cursor: default;
}

.deck .card.match {
    cursor: default;
    border: 2px solid yellow;
    transform: rotateX(180deg);
    transition-duration: 1s;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.stars {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.star {
    width:30px;
    height: 30px;
    font-size: 0px;
    border: 1px solid black;
    background-image: url(../img/gold-star.jpg);
    background-size: 30px 30px;
    display: inline-block;
}

.star.ex {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.timer {
    font-size: 24px;
}

.moves {
    font-size: 24px;
}

.restart {
    float: right;
    cursor: pointer;
    font-size: 24px;
}
