body {
    background-color: #d0c598;
    font-family: 'Amatic SC', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 90%;
}

header {
    text-align: center;
    font-size: 36px;
    max-width: 580px;
}

.game-title {
    margin-bottom: 1px;
}

.game-title.hide {
    display: none;
}

.header-img {
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.header-img.hide {
    display: none;
}

button {
    border: 2px solid white;
    max-height: 50px;
    color: lightgray;
    background-color: gray;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    margin: 10px 0;
    border-radius: 15px;
}

button:hover {
    color: #d0c598;
    border: 2px dashed #d0c598;
    cursor: pointer;
}

/*
 * Card Deck
 */

.deck {
    width: 580px;
    height: 775px;
    padding: 5px 5px;
    background-image: url("../img/deck-background.jpg");
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}
.row {
    display: inline-flex;
}

.card {
    height: 177px;
    width: 125px;
    padding: 1px 1px;
    margin: 5px 5px;
    background: #2e3d49;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

/*
 * Cards
 */

.card.ace {
    background-image: url(../img/deck/ace.png);
}
.card.queen {
    background-image: url(../img/deck/queen.png);
}
.card.king{
    background-image: url(../img/deck/king.png);
}
.card.jack{
    background-image: url(../img/deck/jack.png);
}
.card.hearts{
    background-image: url(../img/deck/hearts.png);
}
.card.diamonds{
    background-image: url(../img/deck/diamonds.png);
}
.card.clubs{
    background-image: url(../img/deck/clubs.png);
}
.card.spades{
    background-image: url(../img/deck/spades.png);
}

/*
 * Card State
 */

.card.hide {
    background-image: url(../img/back.jpg);
    border: 3px solid red;
    transition-property: border;
    transition-duration: 2s;
}

.card.flip {
    transform: rotateY(180deg);
    transition-duration: 1s;
    cursor: default;
}

.card.match {
    cursor: default;
    border: 2px solid yellow;
    transform: rotateX(180deg);
    transition-duration: 1s;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    display: inline-flex;
    position: relative;
    justify-content: center;
    width: 560px;
    margin-bottom: 10px;
}

.stars {
    display: inline-flex;
    justify-content: center;
    max-width: 150px;
    list-style: none;
    padding: 0;
}

.star {
    width:30px;
    height: 30px;
    font-size: 0px;
    border: 1px solid black;
    background-image: url(../img/gold-star.jpg);
    background-size: 30px 30px;
}

.star.ex {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.stats {
    font-size: 28px;
    margin: 10px 20px;
}

.time {
    margin-right: 10px;
}

@media screen and (max-width: 650px) {
    .game-title {
        font-size: 24px;
    }
    .deck {
        width: 100%;
        height: auto;
    }
    .row {
        display: inline-flex;
        width: 100%;
    }
    .card {
        width: 25%;
        height: 125px;
        margin: 5px 5px;
        background-size: cover;
        background-position: center;
    }
    .score-panel {
        width: 100%;
        margin: 5px 15px 5px 20px; 
    }
}


